@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to our Jokes Application, If you want to develop your sense of humer we will help you.</a>.</p>
</div>
